html, body {
    width: 100%;
    height: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: lighter;
}

body {
    width: 100%;
    height: 1200px;
    min-height: 100%;
}

.wrapper{
    background: url(../img/body__background.jpg)  no-repeat;
    height:1200px;
    width:100%;
}
.header-bg{
    min-height: 55px;
    width:100%;
    border-bottom: 1px solid #FFFFFF;
    background:#FFFFFF ;
}

header {
    position: relative;
    left:50%;
    margin-left: -480px;
    width:960px;
    display: block;
    padding: 0;
    min-height: 55px;

}

.header__title {
    margin: 10px 0 0 0;
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.header__title h1 {
    color: #181818;
    font-size: 14px;
    font-weight: lighter;
}

.header__main-menu {
    width: 280px;
    height: 55px;
    display: inline-block;
    margin-left: 40%;
    vertical-align: middle;
    font-size: 0;
}

.header__main-menu li {
    height: 55px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    text-align: justify;
    overflow: hidden;
}

.header__main-menu a {
    color: #181818;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    height: 55px;
    line-height: 55px;
}

.header__main-menu a:hover {
    color:#181818 ;
    height: 52px;
    text-align: center;
    border-bottom: 2px solid #181818;
}

/*.header__main-menu__elem:hover {
    color: #181818;
    background-color: #FFFFFF;
    height: 55px;
    color:white;
    text-align: center;  
}*/
.language-menu{
    position:absolute;
    right: 0;
    height: 55px;
    display: inline-block;
    width: auto;
    vertical-align: top;
    font-size: 0;
}

.language-menu__button{
    overflow: hidden;
    display: inline-block;
    /*   width: 48px;
       height: 30px;*/
}

.language-menu__button a {
    color: #181818;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 55px;
    line-height: 55px;
    font-size: 12px;
    padding: 0 5px;
    font-family: 'Open Sans';
    font-weight: lighter;
    cursor: pointer;
}

.language-menu__button li {
    height: 55px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    text-align: justify;
    margin-right: 0px;
}

.language-menu__button a:hover {
    cursor: pointer;
    height: 55px;
    text-align: center;
}
#language-menu__button_eng  {
    color: white;
    background-color: #181818;
    height: 55px;
    text-align: center;
}

.slider{
    position: relative;
    left:50%;
    margin-left: -480px;
    width:960px;
    display: block;
    padding: 0;
    min-height: 462px;
}
.slider__arrow{
    cursor: pointer;
}
.slider__arrow-left{
    position: relative;
    top:190px;
    display:inline-block;
    width:35px ;
    height:64px;
    background: url(../img/slider_032.png)  no-repeat;
}
.slider__arrow-right{
    position: relative;
    top:190px;
    left:580px;
    display:inline-block;
    width:35px ;
    height:64px;
    background: url(../img/slider_03.png)  no-repeat;
}
.slider h1{
    display:inline-block;
    position: relative;
    top:180px;
    left:50%;
    text-decoration: none;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 48px;
    margin: 0 0 0 -330px;
    padding: 0;
    color:white;
    width:600px ;
    font-weight: lighter;
}
.slider__switch {
    position: relative;
    top:330px;
    left:50%;
    margin-left: -120px;
    width: 120px;
    height: 40px;
    display: block;
    vertical-align: middle;
    font-size: 0;
}

.slider__switch li {
    height: 24px;
    width:24px;
    padding: 8px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    text-align: justify;
    overflow: hidden;
}

.slider__switch a {
    display: block;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    width:24px;
    background:  url(../img/slider_10.png)  no-repeat;
}

.slider__switch a:hover {
    background:  url(../img/slider_12.png)  no-repeat;
}
.slider__key{
    position: relative;
    top:295px;
    left: 715px;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    color: #181818;
    font-weight: bold;
    border: none;
    font-family: 'Open Sans';
    font-weight: lighter;
    cursor: pointer;

}
